.select_dashboard {
  outline: 0;
  border: 0;
  background-color: #f0f0f0;
  color: #333;
  font-size: 18px !important;
}
.select_dashboard:hover {
  color: rgb(64, 64, 216) !important;
  background-color: #f3f3ff !important;
}

.input_select_dashboard {
  min-width: 200px;
  border-radius: 4px;
  padding: 8px;
  height: 56px;
  font-size: 18px !important;
}

.label_select_dashboard {
  color: rgb(64, 64, 216) !important;
  font-size: 14px;
  background-color: #ffffff;
}
