.container_page_dashboard{
    min-height: 80vh;
    width: 100vw;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container_menu_header_dashboard{
    height: 70px;
    width: 99%;
    display: flex;
    margin-top: 4%;
}
.container_menu_dashboard{
    width: 70%;
    height: 100%;
    display: flex;
   
}
.container_date_dashboard{
    width: 29%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 16px;
    color: black;
    margin-right: 2%;
}
.container_cards_dasboard{
    width: 99%;
    min-height:200px;
    display: flex;
    flex-wrap: wrap;
}
