.container_inf_setup{
    margin-block: 5%;
    width: 90%;
    height: auto;
    border: 1px solid rgb(64, 64, 216);
    border-radius: 10px;
    padding: 20px 0;
    font-family: "Motiva Sans", "Twemoji", "Noto Sans", Helvetica, sans-serif;
}
.title{
   text-align: center;
   margin: 0;
   margin-bottom: 35px;
}
.list_inf{
    margin: 0;
    margin-bottom: 2%;
    font-size: 20px;
    list-style: none;
    padding: 0 ;
    outline: 0;
    border: 0;
    width: 100%;
    min-height: 300px;
    height: auto;
    overflow: auto;
}
.inf{
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid rgb(64, 64, 216);
    cursor: pointer;
    height: 30px;
    vertical-align: text-bottom;
}
