.container_card_log{
    min-height: 120px;
    height: auto;
    width: 41%;
    margin-inline: 4% ;
    margin-bottom: 0;
    padding: 0%;
    display: flex;
    margin-bottom: 10%;
    border: 1px solid rgb(64, 64, 216);
}
.container_icon_log{
    width: 40%;
    height: 100%;
    background-color: rgb(64, 64, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_inf{
    height: 100%;
    width: 100%;
}
.container_header_card{
    min-height: 30%;
    background-color: rgb(64, 64, 216);
    display: flex;
    justify-content: center;
}
.title_card{
    padding: 0;
    margin: 0;
    color: white;
}
.container_content_card{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    overflow: scroll;
    margin-inline:1%;
}
.val{
    margin: 0;
    color:  rgb(64, 64, 216);
}