.status{
    display: flex;
    justify-content: center;
}
.container_inf_status{
    display: flex;
    justify-content: center;
    width: 35.33%;
}
.text_status{
    margin-right: 5%;
    font-size: 18px;
}
.icon_status{
    margin-right: 5%;
}